.app-layout {
  display: flex;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
}

.main-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px; /* Matches sidebar width */
}

